/* line 2, eggSass/sass/goldenEgg.scss */
body {
  background: url("../images/blue-bg.png") repeat-y;
  background-size: 100% auto;
  background-position: left top;
}

/* line 7, eggSass/sass/goldenEgg.scss */
html, body {
  height: 100%;
}

/* line 10, eggSass/sass/goldenEgg.scss */
.wrapper {
  position: relative;
  height: 100%;
}
/* line 13, eggSass/sass/goldenEgg.scss */
.wrapper .top {
  background: url(../images/red-bg.png) repeat-y;
  background-size: 100% auto;
  background-position: left top;
  position: relative;
}
/* line 18, eggSass/sass/goldenEgg.scss */
.wrapper .top .tipBox {
  position: absolute;
  width: 100%;
  top: 1.25em;
  text-align: center;
  z-index: 1000;
}
/* line 24, eggSass/sass/goldenEgg.scss */
.wrapper .top .tipBox span {
  display: inline-block;
  padding: 0.66667em 2.08333em;
  background: #d71a30;
  color: #fff;
  font-size: 1.25em;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  opacity: 0;
}
/* line 38, eggSass/sass/goldenEgg.scss */
.wrapper .top .tipBox span.normal {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
/* line 44, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box {
  position: absolute;
  left: 50%;
  top: 7em;
  margin-left: -115px;
  width: 230px;
  height: 168px;
}
/* line 51, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .broken-egg {
  width: 110px;
  position: absolute;
  bottom: 18px;
  left: 60px;
  z-index: 200;
  -moz-transition: display 0.3s ease-in 1s;
  -webkit-transition: display 0.3s ease-in 1s;
  transition: display 0.3s ease-in 1s;
}
/* line 61, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .egg {
  width: 110px;
  position: absolute;
  left: 60px;
  -moz-transition: transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  z-index: 200;
}
/* line 70, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .flash-light {
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 112px;
  z-index: 100;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  transform-origin: center bottom;
}
/* line 81, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .hammer {
  position: absolute;
  right: -38px;
  top: -54px;
  width: 111px;
  -moz-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
/* line 93, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .hammerEffect {
  animation: hammerEffect 0.5s ease-in 0s 1 normal running;
  /* Firefox: */
  -moz-animation: hammerEffect 0.5s ease-in 0s 1 normal running;
  /* Safari and Chrome: */
  -webkit-animation: hammerEffect 0.5s ease-in 0s 1 normal running;
}
/* line 102, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips {
  position: absolute;
  left: 112px;
  top: 83px;
  z-index: 150;
}
/* line 107, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 116, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip1 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 0;
}
/* line 122, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip2 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -16px;
}
/* line 128, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip3 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -31px;
}
/* line 134, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip4 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -46px;
}
/* line 140, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip5 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -66px;
}
/* line 146, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip6 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -83px;
}
/* line 152, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip7 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -97px;
}
/* line 158, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip8 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -110px;
}
/* line 164, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip9 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -110px;
}
/* line 170, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip10 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -130px;
}
/* line 176, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip11 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -146px;
}
/* line 182, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip12 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -161px;
}
/* line 188, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip13 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -179px;
}
/* line 194, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip14 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -193px;
}
/* line 200, eggSass/sass/goldenEgg.scss */
.wrapper .top .egg-box .clips .clip15 {
  width: 7px;
  height: 9px;
  background: url("../images/clips.png") no-repeat;
  background-position: 0 -198px;
}
/* line 209, eggSass/sass/goldenEgg.scss */
.wrapper .middle-bg {
  height: 5.16667em;
  padding-top: 13.16667em;
  background: url("../images/middle-bg.png") no-repeat;
  background-size: 100% auto;
  background-position: left bottom;
  position: relative;
}
/* line 216, eggSass/sass/goldenEgg.scss */
.wrapper .middle-bg .agin {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #d44a4a;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
  color: #fff;
  padding: 4px;
  text-align: center;
  left: 246px;
  bottom: -5px;
}
/* line 235, eggSass/sass/goldenEgg.scss */
.wrapper .rulesbox {
  width: 100%;
  background-size: 100% auto;
}
/* line 241, eggSass/sass/goldenEgg.scss */
.wrapper .rulesbox .rule {
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 0px 1px #90a5b7;
  margin: 30px auto 0px;
  width: 90.625%;
  padding: 3px;
  position: relative;
}
/* line 252, eggSass/sass/goldenEgg.scss */
.wrapper .rulesbox .rule .dash-border {
  border: 1px dashed #686868;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 257, eggSass/sass/goldenEgg.scss */
.wrapper .rulesbox .rule .dash-border ul {
  margin-top: 2.08333em;
  margin-left: 1.25em;
  margin-bottom: 1em;
}
/* line 261, eggSass/sass/goldenEgg.scss */
.wrapper .rulesbox .rule .dash-border ul li {
  color: #000;
  font-size: 0.91667em;
  line-height: 1.66667em;
}
/* line 267, eggSass/sass/goldenEgg.scss */
.wrapper .rulesbox .rule .dash-border p {
  margin-top: 2.08333em;
  color: #000;
  font-size: 0.91667em;
  margin-bottom: 1em;
  line-height: 1.66667em;
  margin-left: 1.25em;
}
/* line 276, eggSass/sass/goldenEgg.scss */
.wrapper .rulesbox .rule .title {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 73px;
  height: 22.5px;
  line-height: 22.5px;
  text-align: center;
  background: url(../images/title_bg.png);
  background-size: 100% auto;
  font-size: 1em;
  color: #fff;
}

/**
*hammerEffect
*/
@keyframes hammerEffect {
  /* line 297, eggSass/sass/goldenEgg.scss */
  0% {
    background: red;
    left: 0px;
    top: 0px;
  }

  /* line 298, eggSass/sass/goldenEgg.scss */
  25% {
    background: yellow;
    left: 200px;
    top: 0px;
  }

  /* line 299, eggSass/sass/goldenEgg.scss */
  50% {
    background: blue;
    left: 200px;
    top: 200px;
  }

  /* line 300, eggSass/sass/goldenEgg.scss */
  75% {
    background: green;
    left: 0px;
    top: 200px;
  }

  /* line 301, eggSass/sass/goldenEgg.scss */
  100% {
    background: red;
    left: 0px;
    top: 0px;
  }
}

/* Firefox */
@-moz-keyframes hammerEffect {
  /* line 306, eggSass/sass/goldenEgg.scss */
  0% {
    background: red;
    left: 0px;
    top: 0px;
  }

  /* line 307, eggSass/sass/goldenEgg.scss */
  25% {
    background: yellow;
    left: 200px;
    top: 0px;
  }

  /* line 308, eggSass/sass/goldenEgg.scss */
  50% {
    background: blue;
    left: 200px;
    top: 200px;
  }

  /* line 309, eggSass/sass/goldenEgg.scss */
  75% {
    background: green;
    left: 0px;
    top: 200px;
  }

  /* line 310, eggSass/sass/goldenEgg.scss */
  100% {
    background: red;
    left: 0px;
    top: 0px;
  }
}

/* Safari Chrome */
@-webkit-keyframes hammerEffect {
  /* line 315, eggSass/sass/goldenEgg.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 320, eggSass/sass/goldenEgg.scss */
  25% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
  }

  /* line 326, eggSass/sass/goldenEgg.scss */
  100% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
