$baseSize:12;
body{
	background: url("../images/blue-bg.png") repeat-y;
	background-size:100% auto;
	background-position: left top;
}
html,body{
	height:100%;
}
.wrapper{
	position: relative;
	height:100%;
	.top{
		background:url(../images/red-bg.png) repeat-y;
		background-size:100% auto;
		background-position: left top;
		position:relative;
		.egg-box{
			position:absolute;
			left:50%;
			top:(74/12)+em;
			margin-left:-115px;
			width:230px;
			height:168px;
			.broken-egg{
				width:110px;
				position:absolute;
				bottom:18px;
				left:60px;
				z-index:200;
				-moz-transition: display 0.3s ease-in 1s;
				-webkit-transition: display 0.3s ease-in 1s;
				transition: display 0.3s ease-in 1s;
			}
			.egg{
				width:110px;
				position:absolute;
				left:60px;
				-moz-transition: transform 0.3s ease-in;
				-webkit-transition: transform 0.3s ease-in;
				transition: transform 0.3s ease-in;
				z-index:200;
			}
			.flash-light{
				position:absolute;
				bottom:30px;
				left:0px;
				width:112px;
				z-index:100;
				-moz-transition: all 0.3s ease-in;
				-webkit-transition: all 0.3s ease-in;
				transition: all 0.3s ease-in;
				transform-origin: center bottom;
			}
			.hammer{
				position:absolute;
				right:-38px;
				top:-54px;
				width:111px;
				-moz-transition: transform 0.5s ease-in;
				-webkit-transition: transform 0.5s ease-in;
				transition: transform 0.5s ease-in;
				-moz-transform-origin: right bottom;
				-webkit-transform-origin: right bottom;
				transform-origin: right bottom;
			}
			.hammerEffect{
				animation:hammerEffect .5s ease-in 0s 1 normal running ;
				/* Firefox: */
				-moz-animation:hammerEffect .5s ease-in 0s 1 normal running ;
				/* Safari and Chrome: */
				-webkit-animation:hammerEffect .5s ease-in 0s 1 normal running ;
				//forwards

			}
			.clips{
				position:absolute;
				left:112px;
				top:83px;
				z-index:150;
				span{
					display:block;
					position:absolute;
					top:0px;
					left:0px;
					-moz-transition: all 0.3s ease-in-out;
					-webkit-transition:all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
				}
				.clip1{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 0;
				}
				.clip2{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -16px;
				}
				.clip3{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -31px;
				}
				.clip4{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -46px;
				}
				.clip5{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -66px;
				}
				.clip6{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -83px;
				}
				.clip7{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -97px;
				}
				.clip8{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -110px;
				}
				.clip9{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -110px;
				}
				.clip10{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -130px;
				}
				.clip11{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -146px;
				}
				.clip12{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -161px;
				}
				.clip13{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -179px;
				}
				.clip14{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -193px;
				}
				.clip15{
					width:7px;
					height:9px;
					background:url("../images/clips.png") no-repeat;
					background-position:0 -198px;
				}
			}
		}
	}
	.middle-bg{
		height: 62/$baseSize+em;
		padding-top: 158/$baseSize+em;
		background: url("../images/middle-bg.png") no-repeat;
		background-size: 100% auto;
		background-position: left bottom;
	}
	.rulesbox{
		//position: absolute;
		//top:  (62+158)/$baseSize+em;
		//bottom: 0px;
		width:100%;
		background-size:100% auto;
		.rule{
			background:#fff;
			border-radius:5px;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			box-shadow:0px 0px 0px 1px #90a5b7;
			//height:100/$baseSize+em;
			margin:30px auto 0px;
			width:290/320*100%;
			padding:3px;
			position:relative;
			.dash-border{
				border:1px dashed #686868;
				border-radius:5px;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				ul{
					margin-top:(25/12)+em;
					margin-left:(15/12)+em;
					margin-bottom:1em;
					li{
						color:#000;
						font-size:(11/12)+em;
						line-height:(20/12)+em;
					}
				}
				p{
					margin-top:(25/12)+em;
					color:#000;
					font-size:(11/12)+em;
					margin-bottom:1em;
					line-height:(20/12)+em;
					margin-left:(15/12)+em;
				}
			}
			.title{
				position:absolute;
				top:3px;
				left:3px;
				width:73px;
				height:22.5px;
				line-height:22.5px;
				text-align:center;
				background:url(../images/title_bg.png);
				background-size:100% auto;
				font-size:1em;
				color:#fff;
			}
		}	
	}
}
/**
*hammerEffect
*/
@keyframes hammerEffect
{
	0%   {background: red; left:0px; top:0px;}
	25%  {background: yellow; left:200px; top:0px;}
	50%  {background: blue; left:200px; top:200px;}
	75%  {background: green; left:0px; top:200px;}
	100% {background: red; left:0px; top:0px;}
}
/* Firefox */
@-moz-keyframes hammerEffect 
{
	0%   {background: red; left:0px; top:0px;}
	25%  {background: yellow; left:200px; top:0px;}
	50%  {background: blue; left:200px; top:200px;}
	75%  {background: green; left:0px; top:200px;}
	100% {background: red; left:0px; top:0px;}
}
/* Safari Chrome */
@-webkit-keyframes hammerEffect 
{
	0%   {
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	25%  {
	    -webkit-transform:rotate(25deg);
		-moz-transform:rotate(25deg);
		transform:rotate(25deg);
	}

	100% {
	    -webkit-transform:rotate(-20deg);
		-moz-transform:rotate(-20deg);
		transform:rotate(-20deg);
	}
}

